.filter {
  margin: 40px 400px 40px 300px;
  color: white;
  position: relative;
}

.block {
  display: block;
}

.filter-input {
	font-size: 16px;
  padding: 15px;
  margin-bottom: 20px;
  width: 810px;
  border: none;
}

.filter-input:focus {
  outline:none;
}

.filter-label {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  color: #999;
  font-size: 25px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.filter-input:focus ~ .filter-label {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  top: -20px;
  font-size: 20px;
  color: white;
}

.show-all-button {
  margin-left: 420px;
  transform: translateX(-50%);
  font-size: 20px;
  width: 170px;
  text-decoration: none;
  outline: none;
  padding: 15px 20px;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: none;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.show-all-button:before,
.show-all-button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.show-all-button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
}
.show-all-button:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
}
.show-all-button:hover:before,
.show-all-button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.show-all-button:hover:before {
  transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
}
.show-all-button:hover:after {
  transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
}
.show-all-button:hover {
  background: rgba(255, 255, 255, 0.2);
}
