.header {
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 51px;
    width: 100vw;

    padding: 15px 20px 12px;
  }

  &__logo {
    width: 24px;
    height: 24px;

    background-image: url("../images/icons/logo.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__basket {
    width: 20px;
    height: 24px;

    background-image: url("../images/icons/basket.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}
