.button {
  width: 100px;
  height: 40px;
  background-color: hsl(180, 6%, 86%);
  border: 1px solid hsl(180, 1%, 48%);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  cursor: pointer;
  border: transparent;
  background-color: hsl(180, 1%, 48%);
}

.button:focus {
  outline-color: transparent;
}
