.User {
  color: #ddd;
}

.UserNickname {
  font-size: 1.5em;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.UserName {
  margin-top: 20px;
}

.UserCity {
  margin-top: 10px;
}

.UserEmail {
  display: block;
  margin-top: 10px;
  color: #ddd;
}
