.shop-products {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--none {
      display: none;
    }
  }

  &__img {
    width: 100vw;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 10px;

    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 5%;
    color: $Text-gray;
  }

  &__title,
  &__price {
    margin-left: 20px;
  }

  &__price {
    margin-bottom: 18px;

    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 5%;
    color: $Text-gray;
  }
}
