.shop-menu {
  padding: 0 17px 32px 20px;

  &__list {
    display: flex;
    gap: 16px;
  }

  &__items {
    width: 55px;

    &:hover::after {
      content: "";
      position: absolute;
      display: block;

      margin-top: 10px;

      width: 35px;
      height: 2px;
      background-color: $Text-gray;
    }

    &:hover:last-child::after {
      content: "";
      position: absolute;
      display: block;

      margin-top: 10px;

      width: 63px;
      height: 2px;
      background-color: $Text-gray;
    }
  }

  &__link {
    position: relative;

    font-size: 14px;
    line-height: 21px;
    letter-spacing: 5%;
    text-transform: uppercase;
    color: $Text-gray;
  }
}
