.CommentsList {

  &__list {
    list-style: none;
  }
  
  &__list-item {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
    font-weight: 300;
    font-size: 0.9rem;
    background: linear-gradient(
      to right, rgba(255,255,255,1) 0%,
      rgba(246,246,246,1) 47%,
      rgba(250,250,253,1) 100%
    );
  }
  
  &__remove-button {
    min-width: 20px;
    color: inherit;
    background-color: transparent;
    transition: color 0.12s;
    margin-right: 10px;
  
    &:hover {
      color: #e9e6f2;
      background-color: transparent;
    }
  
    &:hover + p {
      transition: color 0.12s;
      color: #e9e6f2;
    }
  }
}
