.button {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #b8b3d2;
  border: 0;
  font-size: inherit;
  min-width: 100px;
  color: white;

  transition: background-color 0.3s;
  &.is-active,
  &:hover:not(.disabled) {
    background-color: #4d457b;
  }
  
  &.disabled {
    background-color: lightcoral;
  }

  &.disabled:hover {
    background-color: red;
  }
}
