.button {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #b8b3d2;
  border: 0;
  color: white;
  transition: background-color 0.12s;
  font-size: inherit;
  min-width: 100px;

  &:hover {
    background-color: #4d457b;
  }
}
