.post__comments {
  background: white;
  padding: 10px 0;
  margin: 15px auto;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
  border: none;
}

.comments-hide {
  display: none;
}

.comments-show {
  display: block;
}
