.comment {
  margin-bottom: 10px;
}

.comment__wrapper {
  border-radius: 25px;
  background: #e0e0e0;
  padding: 20px;
}

.comment__user-email {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 10px;
  border-bottom: 1px solid #000;
}

.comment__body {
  margin-top: 10px;
}
