.label {
  color: #363636;
  text-align: left;
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.search_input {
  width: 100%;
  height: 30px;
  background-color: white;
  border: 1px solid #cecece;
  border-radius: 4px;
  color: #363636;
  outline: none;
  margin-top: 10px;
  font-size: 14px;
}

.search_input:hover {
  border-color: #b5b5b5;
}

.search_input:focus {
  border-color: #b5b5b5;
}
