.post {
  padding: 30px 20px;
  border: 1.5px solid black;
  background-image: url(../../images/notes.png);
  background-repeat: no-repeat;
  background-position: 95% 7%;
}

.post__title {
  width: 70%;
  margin: 25px auto;
  font-size: 30px;
  color: darkblue;
}

.post__text {
  font-size: 18px;
}
