.post-list {
  max-width: 95vw;
  margin: 60px auto;
  display: grid;
  grid-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
