.App {
  &__header {
    position: sticky;
    padding: 10px;
  }

  &__user-selector {
    padding: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: #4d457b;
    border: 1px solid #4d457b;
    border-radius: 5px;
  }
}
