.post {
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  text-align: left;
  box-shadow: 1px 1px 17px 0 rgba(0,0,0,0.75);
  &__text {
    text-align: justify;
  }
  &__author {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
    &-name {
      margin-right: 10px;
    }
    &-email {
      margin-right: 10px;
    }
  }
  &__comments-section {
    display: grid;
    grid-row-gap: 10px;
  }
  &__comment {
    background-color: rgb(189, 216, 176);
    border-radius: 10px;
    padding: 7px;
    &-body {
      text-align: justify;
    }
    &-author {
      display: flex;
      justify-content: flex-end;
      font-style: italic;
      &-email {
        margin-right: 10px;
      }
      &-name {
        margin-right: 10px;
      }
    }
  }
}
