li {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
}

$wrapper-height: 270px;
$wrapper-width: 220px;

$card-height: 250px;
$card-width: 200px;

$little-card-top: 27px;
$middle-card-top: 15px;
$hidden-card-top: 0;

.btn {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 50px;
  top: 120px;

  &__prev {
    left: -8%;
  }

  &__next {
    right: -8%;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
    font-size: 47px;
  }
}

.author {

  &__image {
    width: 100%;
    border-radius: 50%;
  }

  &__name {
    text-align: center;
    padding: 10px;
  }
}

.carousel {
  margin: -50px auto 0;
  position: relative;
  width: 800px;
  height: 300px;

  &__card {
    margin: auto;
    width: $card-width;
    height: $card-height;
    padding: 5px;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(192, 192, 192);
    box-shadow: 0 0 15px rgb(0, 0, 0);
    transition: .5s;
    z-index: 1;

    &--active {
      border: 2px solid rgb(9, 255, 0);
    }

    &--initial-hidden {
      width: $card-width * .8;
      height: 240px;
    }

    &--final-hidden {
      width: $card-width * .8;
      height: 240px;
    }

    &--left-small {
      width: $card-width * .8;
      height: $card-height * .8;
      background-color: rgb(153, 153, 153);
      box-shadow: 2px 10px 25px #000;
    }

    &--left-middle {
      width: $card-width * .9;
      height: $card-height * .9;
      background-color: rgb(177, 177, 177);
      box-shadow: -2px 10px 15px #000;
    }

    &--front {
      box-shadow: 0 10px 25px #000;
    }

    &--right-middle {
      width: $card-width * .9;
      height: $card-height * .9;
      background-color: rgb(177, 177, 177);
      box-shadow: 2px 10px 15px #000;
    }

    &--right-small {
      width: $card-width * .8;
      height: $card-height * .8;
      background-color: rgb(153, 153, 153);
      box-shadow: -2px 10px 25px #000;
    }

    &:hover {
      width: 100%;
      height: 100%;
      z-index: 4;
    }
  }
}

.wrapper {
  position: absolute;
  display: flex;
  width: $wrapper-width;
  height: $wrapper-height;
  transition: .5s;
  z-index: -5;
  padding: 5px;

  &--hidden {
    opacity: 0;
    top: 0;
    left: 40%;
    z-index: -1;
  }

  &--initial-hidden {
    height: 240px;
    opacity: 0;
    top: 0;
    left: 2%;
    z-index: -1;
  }

  &--final-hidden {
    height: 240px;
    opacity: 0;
    top: 0;
    left: 70%;
    z-index: -1;
  }

  &--left-small {
    width: $wrapper-width * .8;
    height: $wrapper-height * .8;
    top: $little-card-top;
    left: 0%;
    z-index: 1;
  }

  &--left-middle {
    width: $wrapper-width * .9;
    height: $wrapper-height * .9;
    top: $middle-card-top;
    left: 16%;
    z-index: 2;
  }

  &--front {
    top: 0;
    left: calc(50% - #{$wrapper-width * 0.5});
    z-index: 3;
  }

  &--right-middle {
    width: $wrapper-width * .9;
    height: $wrapper-height * .9;
    top: $middle-card-top;
    left: 58%;
    z-index: 2;
  }

  &--right-small {
    width: $wrapper-width * .8;
    height: $wrapper-height * .8;
    top: $little-card-top;
    left: 77%;
    z-index: 1;
  }
}
