.footer {
  width: 100vw;
  height: 470px;

  background-color: #8c9772;

  color: $FooterText;

  &__container {
    padding: 30px 20px 60px;
  }

  &__nav {

    &-list {
      display: grid;
      grid-template-rows: 2;
      gap: 20px;

      & :last-child {
        margin-bottom: 20px;
      }
    }

    &-link {
      position: relative;
      font-size: 14px;
      line-height: 18px;

      &:hover::after {
        content: "";
        display: block;
        position: absolute;

        width: 50px;
        height: 1px;
        background-color: $FooterText;
      }
    }
  }

  &__icon {
    width: 60px;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;

    &-inst {
      width: 20px;
      height: 20px;

      background-image: url("../images/icons/instagram.png");
      background-repeat: no-repeat;
      background-position: center;
    }

    &-face {
      width: 20px;
      height: 20px;

      background-image: url("../images/icons/facebook.png");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__info {

    &-ukraine {
      margin-bottom: 12px;

      font-size: 14px;
      line-height: 18px;
    }

    &-email {
      display: block;
      margin-bottom: 12px;

      font-size: 14px;
      line-height: 18px;
    }

    &-phone {
      display: block;
      margin-bottom: 20px;

      font-size: 14px;
      line-height: 18px;
    }

    &-time {
      margin-bottom: 30px;

      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.5px;
    }
  }

  &__footer {
    padding: 0 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    &-copyright {
      display: none;
    }
  }
}
