.post {
  box-sizing: border-box;
  font-size: 22px;
  width: 400px;
  height: auto;
  border-radius: 20px;
  background-color: rgb(247, 210, 226);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 20px 15px;
  margin: 0 auto 30px;
  text-align: center;
}

.post__title {
  color: rgb(131, 26, 86);
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 400;
}

.post__text {
  color: rgb(52, 38, 92);
  font-size: 18px;
}
