.comments__list {
  margin-top: 20px;
}

.comments__p {
  background-color: rgba(165, 172, 233, 0.79);
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

h2 {
  color: rgb(73, 68, 68);
  font-size: 22px;
  text-align: center;
}
