.postlist {
  margin: 40px 300px;
}

.post {
  padding: 10px 40px 20px 40px;
  margin-bottom: 20px;
  background-color: #ffffff80;
  color: #1c3a20;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.post:before,
.post:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.post:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
}
.post:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
}
