%stretch-panel {
  flex-grow: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

.main {
  display: flex;
  justify-content: stretch;
  align-content: stretch;
}

.PostsList {
  // width: 100%;
  @extend %stretch-panel;

  flex-basis: 60%;
  border-color: blue;

  &__user-button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
      background-color: lightblue;
    }
  }

  &__list {
    list-style: none;
    padding-left: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fafafd;
    line-height: 1.5;
  }

  &__button {
    margin-left: 10px;
  }

  &__side {
    @extend %stretch-panel;

    flex-basis: 30%;
    border-color: green;
  }
}
