.PostsList {
  width: 100%;

  &__user-button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  
    &:hover {
      background-color: lightblue;
    }
  }

  &__list {
    list-style: none;
    padding-left: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed lightgray;
  }
}
