@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.App {
  width: 75vw;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: rgb(2, 105, 2);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
