.section-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-list {
  width: 50%;
}

.post {
  background-color: #fff;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 12px;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  margin: 2px;
  color: #385898;
}

.user-email {
  color: #616770;
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
}

.user-address {
  font-size: 12px;
  font-weight: bold;
  margin: 2px;
  color: #616770;
}

.post-title {
  font-size: 18px;
  text-align: center;
}

.comment-list {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.hide-comments {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
}

.comment-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #606770;
  font-size: 14px;
  align-self: flex-end;
}

.comment {
  background-color: #f2f3f5;
  border-radius: 18px;
  box-sizing: border-box;
  color: #1c1e21;
  line-height: 16px;
  margin: 10px 5px;
  padding: 10px;
}

.comment-email {
  font-size: 14px;
  font-weight: bold;
  margin: 2px;
  color: #385898;
}

.btn-load {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  background: #40c781;
  box-shadow: inset 0 -3px #35a76e;
  transition: .2s;
  border: none;
  width: 200px;
  height: 100px;
  font-size: 36px;
  cursor: pointer;
}

.btn-load:hover {
  background: #35a76e;
}

.label {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
}
