body,
h2,
hr {
  margin: 0;
}

body * {
  outline: none;
}

.App {
  text-align: center;
}

.post {
  padding-top: 30px;
}

.post__content {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}

.post__user {
  text-align: right;
}

.post__user p {
  margin: 0;
}

.comment {
  margin-bottom: 10px;
  padding-top: 5px;
}

.commentList {
  margin: auto;
  width: 60%;
  padding-bottom: 30px;
}

.comment__name {
  font-weight: bold;
  text-align: left;
  font-style: italic;
}

.comment__body {
  text-align: left;
  font-style: italic;
}

.comment__email {
  text-align: right;
  margin-bottom: 5px;
}

.post:nth-child(even) {
  background-color: rgba(247, 188, 222, 0.5);
}

.post:nth-child(even) .post__content {
  background-color: #fdecf5;
}

.post:nth-child(odd) {
  background-color: rgba(247, 188, 222, 0.3);
}

.post:nth-child(odd) .post__content {
  background-color: #fbdeef;
}

.load {
  width: 120px;
  height: 80px;
  margin: 100px auto;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 1s;
}

.load--start {
  background-color: rgba(247, 188, 222, 0.3);
}

.load--start:hover {
  cursor: pointer;
  background-color: rgba(247, 188, 222, 0.8);
}

.loading-text {
  font-size: 20px;
  margin-top: 120px;
}

.posts__search {
  margin: 20px auto;
  width: 60%;
  height: 40px;
  border: 2px solid rgba(247, 188, 222, 0.5);
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
}

hr {
  background-color: grey;
  color: grey;
  box-shadow: none;
  border: none;
  height: 2px;
}
