html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 10px;
  background-image: url("./images/Subtle-Prism.svg");
  background-color: #fff;
  background-attachment: fixed;
  background-size: cover;
}

.post {
  margin: 0 auto;
  width: 75%;
}

.title {
  text-align: center;
}

.post__item {
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.5);
  background-color: white;
  box-sizing: border-box;
  border: 2px solid #b2b2b2;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.post__title {
  font-size: 18px;
  text-align: center;
}

.post__text {
  font-size: 14px;
}

.post__author {
  font-size: 10px;
  text-align: right;
}

.comments__item {
  background: linear-gradient(
    90deg, rgba(29,169,251,1) 0%, rgba(255,255,255,1) 100%
  );
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.comments__title {
  font-size: 18px;
}

.comments__text {
  font-size: 12px;
  margin: 10px 0;
}

.comments__author {
  font-size: 10px;
}

.post__button {
  outline: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  font-size: 24px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  border: 0;
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.5);
}

.post__button:hover {
  background-color: #e5e5e5;
}

.post__button:active {
  background-color: #1da9fb;
}

.post__start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error {
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
}

.post__search {
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.5);
  background-color: white;
  box-sizing: border-box;
  border: 2px solid #b2b2b2;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
  width: 100%;
  height: 40px;
  outline: none;
}
