.App {
  text-align: center;
}

body {
  text-align: center;
}

body:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.btnLoad {
  margin-top: 20%;
  background-color: goldenrod;
  color: #fff;
  border: none;
  position: relative;
  height: 50px;
  font-size: 1.6em;
  padding: 0 3em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

.btnLoad:hover {
  background: #fff;
  color: cadetblue;
}

.btnLoad:before,
.btnLoad:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgba(250, 200, 0, 0.6);
  transition: 400ms ease all;
}

.btnLoad:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btnLoad:hover:before,
.btnLoad:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.hoja {
  color: #dcdce2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -140px;
  margin-top: -140px;
  width: 280px;
  height: 280px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  line-height: 280px;
  -webkit-font-smoothing: antialiased;
}

.hoja:after,
.hoja:before {
  content: "";
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.hoja:after {
  box-shadow: inset 0 17.5px 0 rgba(250, 250, 0, 0.6),
    inset 17.5px 0 0 rgba(250, 200, 0, 0.6),
    inset 0 -17.5px 0 rgba(250, 150, 0, 0.6),
    inset -17.5px 0 0 rgba(250, 100, 0, 0.6);
  -webkit-animation: rotar 2s -0.5s linear infinite;
  animation: rotar 2s -0.5s linear infinite;
}

.hoja:before {
  box-shadow: inset 0 17.5px 0 rgba(0, 250, 250, 0.6),
    inset 17.5px 0 0 rgba(0, 200, 200, 0.6),
    inset 0 -17.5px 0 rgba(0, 150, 200, 0.6),
    inset -17.5px 0 0 rgba(0, 200, 250, 0.6);
  -webkit-animation: rotariz 2s -0.5s linear infinite;
  animation: rotarIz 2s -0.5s linear infinite;
}
@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
    transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
    transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
    transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}

@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
    transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
    transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scaleX(1) scaleY(1);
    transform: rotateZ(360deg) scaleX(1) scaleY(1);
  }
}

@-webkit-keyframes rotariz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
    transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
    transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
    transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}
@keyframes rotariz {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(1) scaleY(1);
    transform: rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50% {
    -webkit-transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
    transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);
  }
  100% {
    -webkit-transform: rotateZ(-360deg) scaleX(1) scaleY(1);
    transform: rotateZ(-360deg) scaleX(1) scaleY(1);
  }
}

.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.flip-container {
  margin: 15px;
  perspective: 1000px;
  align-self: center;
  justify-self: center;
  padding: 0.5em;
  background-image: linear-gradient(
    to right top, #fff, #f8faff, #ebf6ff, #dbf3ff, #c9f1ff
  );
  border-radius: 6px;
  -webkit-box-shadow: -2px 6px 12px -1px rgba(255,216,168,1);
  -moz-box-shadow: -2px 6px 12px -1px rgba(255,216,168,1);
  box-shadow: -2px 6px 12px -1px rgba(255,216,168,1);
}

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 360px;
  height: 550px;
}

.flipper {
  transition: 1.2s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  background-image: linear-gradient(
    to right top, #fff, #f8faff, #ebf6ff, #dbf3ff, #c9f1ff
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
}

.front-heading {
  font-family: Perpetua, sans-serif;
  color: goldenrod;
  text-transform: uppercase;
}

.front-body {
  font-style: italic;
}

.back {
  font-size: 10px;
  transform: rotateY(180deg);
}

.back-heading {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: goldenrod;
}

.comment {
  border: 1px solid white;
  -webkit-box-shadow: -5px -12px 147px 28px rgba(255,255,255,1);
  -moz-box-shadow: -5px -12px 147px 28px rgba(255,255,255,1);
  box-shadow: -5px -12px 147px 28px rgba(255,255,255,1);
  background-color: white;
}

.comment-name {
  color: cadetblue;
}

.comment-body {
  width: 320px;
  margin: 0 auto;
}

.comment-email {
  font-weight: bold;
  color: rosybrown;
}

.user-name {
  color: rosybrown;
}
