.comment {

  &__text {
    font-style: italic;
    font-size: 26px;
    margin-bottom: 0;
    text-align: start;

  }

  &__name {
    font-size: 30px;
    text-align: start;
  }

  &__email {
    font-size: 18px;
    text-align: end;
  }
}

.comments {
  background-color: rgb(250, 202, 202);
  padding: 20px;
}
