.text-monospace{
  min-width: 580px;
}
h1{
  text-align: center;
}

.search-box{
  width: 60%;
  margin: 10px auto;
}

.search{
  width: 100%;
}
.button-box {
  width: 50%;
  margin: auto;
}

.btn {
  width: 100%;
  border-radius: 50px;
  font-size: 25px;
}

.post-item {
max-width: 900px;
border: 2px solid black;
border-radius: 10px;
margin: auto;
margin-bottom: 20px;
align-content: center;
background-color: #eafffc;
}

.question-block {
  display: flex;
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  background-color: #f3fffd;

}

.user {
  min-width: 230px;
  padding: 10px;
  margin-right: 10px;
}

.question {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
}
.italic {
  font-style: italic;
}

.comments {
  padding: 20px;
}

.post-body {
  font-size: 12px;
}

.comment-body {
  padding: 5px 30px;
}

.card-header{
  cursor: pointer;
}
